/* @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Nunito:ital,wght@1,300&display=swap'); */
/*Hide only visually, but have it available for screen readers: */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');
body{
    background: darkslategrey;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.container{
    max-width: 960px;  /*The biggest, but can shrink*/
    margin: 0 auto;  /*top and bottom is 0, right left auto */
}

/*Global*/
h1, 
h2, 
h3 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    padding: .2em 0;
}

/*h1 only*/
h1 {
    font-size: 1.8em;
}
/*h2 only*/
h2 {
    font-size: 1.3em;
}
/*h3 only*/
h3 {
    font-size: 1.0em;
}

.sr-only{
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*Paragraph*/
p {
  color: black;
  margin: 1.3em;
  line-height: 1.5em;
}

ul li {
  margin-left: 1.8em;
  margin-right: 1.8em;
}

/* CSS RESET */
*,
*:before,
*:after {
  /* Flatten It */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* h2 {font-size:1.25em;} */

header,
main,
aside,
footer {
  padding: 2.0em;
  border: 1px black solid;
}

nav {
  padding: 0.7em;
  border: 1px black solid;
}


header,
footer {
  text-align: center;
  color: white;
}


nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none; /* Take out underline*/
  font-size: 1.1em;
  
  display: block;
  padding: 12px 3px;
  margin: 0px;
  border: 3px white solid;
  background: rgb(49, 49, 79);
}

nav ul li a:link {
  /* color: rgb(151, 165, 242);  Before hover through */
  color: white;
}

nav ul li a:visited {
  color:white;
}

nav ul li a:hover {
  color: rgb(49, 49, 79);
  background: white;
}
nav ul li:active {
  color:black;
  background: rgb(188, 182, 244);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: rgb(175, 222, 176);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns:
   3fr       2fr;
  grid-template-areas:
  "header1   header1"
  "nav1      nav1"
  "main1     aside1"
  "aside2     aside2"
  "footer1   footer1";
}

header {grid-area: header1; background:rgb(25, 32, 53);}
nav {grid-area: nav1; background:rgb(188, 182, 244);}
main {grid-area: main1; background: rgb(202, 201, 206); max-height: 100%;}
#aside1 {grid-area: aside1; background: rgb(223, 218, 231);}
#aside2 {grid-area: aside2; background: rgb(223, 218, 231);}
footer {grid-area: footer1; background: rgb(25, 32, 53);}



/* Media query for medium/tablet */

@media screen
  and (min-width: 641px)
  and (max-width: 900px)  {
    .container {
        grid-template-columns:
        1fr 1fr;
        grid-template-areas:
        "header1 header1"
        "nav1 nav1"
        "main1 main1"
        "aside1 aside2"
        "footer1 footer1";
    }
}


/* Media query for small/mobile */

@media screen
  and (max-width: 640px)  {
    .container {
        grid-template-columns:
        1fr;
        grid-template-areas:
        "header1"
        "main1"
        "aside1"
        "aside2"
        "nav1"
        "footer1";
    }
    nav ul {
        flex-flow: column nowrap;
        text-align: center;
    }
    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 3px white solid;
        background: rgb(49, 49, 79);
    }
}